body {
    background-color: white;
    margin: 0;
}
.btn {
    border: 2px solid;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*helper starts here */
.sec1 {
    background-image: url(./unplash/bac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.sec1 .row {
    display: grid;
    grid-template-columns: 100%;
}
/*helper ends here */
/* section starts here*/
.sec1 .navbar {
    padding: 15px;
    float: right;
    padding-right: 13%;
}
.sec1 .navbar a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
.sec1 .navbar a:hover {
    background-color: blanchedalmond;
}
.sec1 header {
    color: white;
    padding: 0px 0 0 85px;
    font-size: 2rem;
    margin-top: -35px;
}
.sec1 .welcome {
    text-align: center;
    color: white;
    padding-top: 7%;
}
.sec1 .welcome h1 {
    font-size: 40px;
}
.sec1 .welcome h1::after {
    content: "Karen Lee.";
    color: rgba(245, 245, 245, 0.103);
}
.sec1 .inverse-btn {
    width: 140px; 
    height: 35px;
    background: none;
    color: white;
    border: 1px solid white;
}
.sec1 .ib {
    align-items: center;
    padding: 8px 5px 16px 5px;
    border-radius: 30px;
    outline: none;
}
.sec1 .inverse-btn:hover {
    background: tomato;
    border-radius: 30px;
    outline: none;
}
.sec1 .inverse-btn:focus {
    background: chocolate;
    outline: none;
}
.sec1 .icon {
    padding: 20px;
}
/* section ends here*/
/* helper starts here*/
.sec2 .container {
    padding: 6% 0 0 6%;
}

.sec2 .row {
    display: grid;
    grid-template-columns: 45% 30%;
    grid-column-gap: 50px;
}
/* helper ends here*/
/* section starts here*/
.sec2 img {
    height: 350px;
    width: 540px;
}
.sec2  .icon {
    padding: 5px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 12px;
    margin-left: 15px;
}
/* section starts  here*/
/* helper starts  here*/
.sec3 .container {
    padding: 2% 0% 5% 14%;
    width: 75%;  
}
.sec3 .row {
display: grid;
grid-template-columns: 30% 30% 30%;
grid-gap: 10px;
}
/* helper ends here*/
/* section starts  here*/
.sec3 {
    width: 100%;
    background: #efe8e8;
    margin-top: 5%;
}
.sec3 .service {
    text-align: center;
    padding: 5% 0 0 2%;
}
.sec3 .box {
    border: 1px solid;
    text-align: center;
    padding: 30px 10px 10px 5px;
}
.sec3 hr {
    width: 50px;
    border-color: red;
}
/* section ends  here*/
/* helper starts  here*/
.sec4 .container {
    padding: 5% 0 5% 0;
}
.sec4 .row {
    display: grid;
    grid-template-columns: 100%;
} 
/* helper starts  here*/
/* section starts  here*/
.sec4 h1 {
    text-align: center;
}
.sec4 .primary-btn {
    background: rgb(231, 19, 82);
    width: 60px;
    height: 30px;
}
.sec4 .pb {
    border-radius: 12px;
    color: white;
    margin: 0% 0 0 48%;
    outline: none;
}
.sec4 .primary-btn:hover {
    background: yellow;
    color: black;
}
.sec4 .primary-btn:focus {
    background-color: brown;
}
/* section ends  here*/
/* helper starts  here*/
.sec5 .container {
    padding: 5% 0 5% 0;
}
.sec5 .row {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}
/* helper ends  here*/
/* section starts  here*/
.sec5 {
    background: #efe8e8;
    letter-spacing: 4px;
    word-spacing: 4px;
}
.sec5 .img {
    width: 69px;
    height: 69px;
    border: solid;
    border-radius: 39px;
}
/* section ends  here*/
/* heplper starts here*/
.sec6 .container {
    padding: 0% 0 3% 37%
}
.sec6 .row {
    display: grid;
    grid-template-columns: 7% 12% 17% 13%;
    text-align: center;
}
/* heplper ends here*/
/* section starts here*/
.sec6 .header {
    text-align: center;
    padding: 5% 0 3% 0;
}
.sec6 .box:hover {
    background-color: brown;
    color: white;
    border-radius: 20px;
}
/*section ends here*/
/* heplper start here*/
.sec7 .container {
    padding: 2% 0% 5% 14%;
    width: 75%;
}
.sec7 .row {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 10px;
}
/* heplper ends here*/
/* section starts here*/
.sec7 img {
    width: 300px;
    height: 200px;
}
/* section ends here*/
/* heplper starts here*/
.sec8 .container {
    padding: 2% 0% 5% 14%;
    width: 75%;
}
.sec8 .row {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 10px;
}
/* heplper ends here*/
/* section starts here*/
.sec8 {
    background-color: #efe8e8;;
}
.sec8 header {
    text-align: center;
    padding: 5% 0 3% 0;
}
.sec8 img {
    width: 290px;
    height: 150px;
}
.sec8 .box {
    background: white;
    padding: 6px;
}
.sec8 h4 {
    text-transform: capitalize;
}
.sec8 h6:after {
    content: " By Lee";
    color: coral;
}
/* section ends here*/
/* heplper starts here*/
.sec9 .container{
    padding: 2% 0% 5% 15%;
    width: 75%;
}
.sec9 .row {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 10px;
    text-align: center;
}
/* heplper ends here*/
/* section starts here*/
.sec9 header {
    text-align: center;
    padding: 5% 0 3% 0;
}
.sec9 i {
    color: red;    
}
/* section ends here*/
/* helper starts here*/
.sec10 .container{

}
/* helper ends here*/
/* section starts here*/
.sec10 .form {
    width: 65%;
    margin: auto;
}
.sec10 .form input  {
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    margin: 8px;
}
.sec10 .form textarea {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}
.sec10 .form .secondary-btn {
    background-color: green;
    width: 60px;
}
.sec10 .sb {
    float: right;
    padding: 7px;
    border-radius: 5px;
    margin-right: -40px;
    outline: none;
}
.sec10 .form .secondary-btn:hover {
    background-color: chocolate;  
}
.sec10 .form .secondary-btn:focus {
    background-color: coral;
}
.sec10 .p-r {
    position: relative;
}
.sec10 .left {
    float: left;
    width: 45%;
}
.sec10 .right {
    float: right;
    width: 45%;
}
.sec10 .icon {
    position: absolute;
    top: 23%;
    right: -8%;
}
/* section ends here*/
/* helper starts here*/
.sec11 .container{
    padding: 10% 0 0 0;
}
/* helper ends here*/
/* section starts here*/
.sec11 footer {
    background: rgb(41, 36, 36);
    color: rgb(238, 234, 234);
    text-align: center;
    padding: 60px;
}
.sec11 .icon {
    border: 1px solid black;
    background: #736868;
    border-radius: 20px;
    padding: 7px;
}
/* section ends here*/